.featured-movie-container {
 
}

.page-title {
  font-size: 4.5rem;
  text-align: center; 
}

.list-container {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  gap: 1rem;
}

.featured-list-container {
  width: 100%;
  margin-bottom: 5rem;
  aspect-ratio: 16 / 9;
}

.featured-backdrop {
  height: 100%;
  width: 100%;
  background-size: cover !important;
  display: flex;
  align-items: flex-end; 
}

.featured-movie-title {
  font-weight: bold;
  font-size: 3rem;
  width: 100%;
  padding: 2rem;
  color: white; 
  text-shadow: 2px 2px 4px rgba(0, 0 , 0, 0, 0.5);
}

.loading-indicator {
  font-size: 2rem;
  text-align: center; 
  margin-top: 2rem; 
}

.featured-list-container-loader {
  height: 100%; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  font-size: 1.5rem; 
  color: #61dafb; 
}