.card {
  max-width: 180px;
  border: 20px solid #335f28;
  background-color: #335f28;
  padding: 10px;
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(47, 138, 58, 0.2); 
  transition: background-color 0.3s, border-color 0.3s; 
}

.card img {
  max-width: 100%; 
  object-fit: contain;
}

.card:hover {
  border: 20px solid #4eaa3e;
  background-color: #4eaa3e;
}