.card {
  max-width: 180px;
  border: 20px solid #898989;
  background-color: #898989;
  padding: 10px;
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(91, 16, 132, 0.2); 
  transition: background-color 0.3s, border-color 0.3s; 
}

.card img {
  max-width: 100%; 
  object-fit: contain;
}

.card:hover {
  border: 20px solid #9e518c;
  background-color: #9e518c;
}